@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Signika-VariableFont_wght';
    src: url(../fonts/Signika-VariableFont_wght.ttf);
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

body {
    @include flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #090909;
    color: #ffffff;

    .container {
        height: 30em;
        @include flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .title {
        margin: 0;
        font-size: 6vw;
        font-family: 'Signika-VariableFont_wght';
        letter-spacing: 2px;
    }

    input[type=date] {
        width: 40vw;
        padding: 8px 16px;
        text-align: center;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #ffffff;
    }

    .clock {
        width: 100%;
        @include flex;
        justify-content: space-around;
        font-family: 'Poppins-Medium';
        font-size: 18px;

        >span {
            @include flex;
            flex-direction: column;
        }
    }
}